.navbar-brand>img {
    width: 30px;
    height: 30px;
    margin-left: 40px;
}
.main-header {
    padding-top: 220px;
    padding-bottom: 220px;
    margin-bottom: 50px;
    text-align: left;
    background-image: url(https://o4a7cbihz.qnssl.com/avatar/614bb7be-491b-4c23-be79-0bb504ec54f6);
    background-size:85%;
  }
  .main-header h1 {
    font-size: 40px;
    color: #000000;
  }
  .avatar {
    height: 48px;
    width: 48px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 10px;
    float: left;
    margin-right: 18px;
    cursor: default;
  }

 
  .jumbotron {
    margin-top: 685px;
    margin-bottom: 10px;
    background-image: url(https://o4a7cbihz.qnssl.com/avatar/614bb7be-491b-4c23-be79-0bb504ec54f6);
    background-position: center;
    width: auto;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em;
   
}
.footer {
  position: relative;
  height: 50px;
  width: 50px;
  top: 50px;
  left: 50%;
  margin-left: -12px;
  color: #c6cbd1;
}
.avatar {
  height: 48px;
  width: 48px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 10px;
  float: left;
  margin-right: 18px;
  cursor: default;
}
